*{
    font-family: system-ui;
    text-align: center;
}
body{
    /* font-family: system-ui; */
    background-color: beige;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}
.div1{
    background: rgb(175, 92, 92);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px gray;
}

#code{
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 100px;
    font-size: 20px;
    resize: none;
    font-family: system-ui;
}
.btns{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 30%;
    font-size: larger;
    margin: auto;
    /* font-family: system-ui; */

}

.encode{
    background-color: green;
    color: azure;
}
.decode{
    background-color: aqua;
    color: purple;
}
.encode:active{
    scale: 1.02;
    background-color: green;
    color: brown;
}
.decode:active{
    scale: 1.02;
    background-color: aquamarine;
    color: plum;
}


.result{
    background: #bebebe;
    padding: 10px;
    border-radius: 6px;
    min-height: 65px;
    /* font-family: system-ui; */
    font-weight: 600;
}
#img1{
    border-radius: 10px;
    box-shadow: 10px 5px 10px 3px black;
}